.card-parent {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

.img {
    height: 200px;
    max-width: 100%;
}

.span-caption {
    font-family: "Quicksand", sans-serif;
    color: white;
    font-size: 1.3rem;
    padding: 1rem;
}

.span-div {
    padding: 1rem;
}

.btn-2 {
    color: white;
    border: 1px solid white;
    width: 90%;
    background-color: black;
    padding: 1rem;
    font-family: "Quicksand", sans-serif;
}

.btn-2:hover {
    color: black;
    background-color: white;
}

.modal-content {
    font-family: "Quicksand", sans-serif;
    width: 100%;
    background-color: black;
    margin: 0;
    padding: 0;
}

.modal-content h3 {
    font-size: 3rem;
    padding: 1rem;
    text-align: center;
    color: white;
}

.modal-list li {
    font-family: "Quicksand", sans-serif;
    font-size: 2rem;
    padding: 1rem;
}

.modal-list {
    list-style-type: none;
}

.inline {
    display: inline-block;
    text-align: right;
    font-size: 1.3rem;
    flex-grow: 1;
}

#price {
    display: flex;
    align-items: center;
}


.inner {
    font-size: 1.4rem;
}