.form-container  {
    display: flex;
    font-family: "Quicksand", sans-serif;
    font-size: 1.8rem;
    color: white;
    text-transform: uppercase;
    background: url('../../images/Praag-1.jpg') no-repeat center center/cover;
    height: 200vh;
    align-items: center;
    justify-content: center;
}

form {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 50%;
    justify-content: center;
}

.button-control {
    text-align: center;
    padding: 2rem;
}

.text-control {
    display: flex;
    flex-direction: column;
    
}

textarea {
    width: 100%;
    height: 20vh;
    font-size: 1rem;
    color: white;
    background: none;
    font-family: 'Quicksand', sans-serif;
    margin-top: 1rem;
    border: none;
    border-top: 1px solid white;
    border-left: 1px solid white;
    padding: 1rem;
}

textarea:focus {
    outline: none;
}

button {
    padding: 0.5rem;
    width: 50%;
    font-family: "Quicksand", sans-serif;
    font-size: 1.3rem;
    text-transform: uppercase;
    background: none;
    color: white;
    border: none;
    border: 1px solid white;
    transition: 0.3s;
    cursor: pointer;
}

button:focus {
    outline: none;
}

button:hover {
    background-color: white;
    color: black;
}


@media only screen and (max-width: 600px) {
    textarea {
        width: 90%;
        font-size: 0.8rem;
    }

    button {
        font-size: 1rem;
        margin-bottom: 1rem;
    }
    
    label {
        font-size: 0.8rem;
    }

    input {
        font-size: 0.8rem;
    }
}