.contact {
    background: url('../images/Praag-1.jpg') no-repeat center center/cover;
    height: 200vh;
    width: 100%;
}

@media only screen and (max-width: 600px) {
    .contact form {
        width: 90%;
    }
    .contact {
        height: 170vh;
    }
  }

@media only screen and (max-height: 350px) {
    .contact {
        height: 400vh;
    }
}

@media only screen and (min-width: 601px)  and (max-width: 840px) {
    .contact form {
        width: 80%;
    }
    .contact {
        height: 260vh;
    }
  }