.touring {
    background: url('../images/Lloret-de-Mar-2.jpg') no-repeat center center/cover;
    height: 100vh;
}

.content {
    background-color: black;
    color: white;
    font-family: 'Quicksand', sans-serif;
}

.second-touring {
    background: url('../images/Italie_Venetie.jpg') no-repeat center center/cover;
}

.overlay-touring {
    z-index: 1;
    height: 70vh;
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    font-family: 'Quicksand', sans-serif;
}

.secondary-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 1rem;
}



.s-1-touring h5 {
    font-size: 1.5rem;
    padding: 1rem 0 0 1rem;
}

.s-1-touring ul {
    list-style-type: none;
    padding: 1rem 0;
    font-size: 1.3rem;
}

.s-1-touring ul li {
    padding: 1rem;
}

@media only screen and (max-width: 600px) {
    .secondary-content {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .s-1-touring h5 {
        font-size: 1.5rem;
    }
    .s-1-touring ul li {
        font-size: 1rem;
        padding: 0;
    }

    .s-1-touring {
        padding: 1rem;
    }

    .big-text {
        text-align: center;
    }

    .s-1-touring ul li a {
        text-decoration: none;
        color: white;
    }
    .s-1-touring ul li a:hover {
        text-decoration: underline;
    }
    .overlay-touring {
        height: 90vh;
    }

    .touring {
        height: 70vh;
    }

    .second-touring {
        width: 100vw;
    }

    .secondary-content {
        width: 100vw;
        padding: 0;
    }
}

@media only screen and (max-width: 340px) {
    .s-1-touring ul li {
        font-size: 1rem;
    }
    .s-1-touring {
        padding: 0 1rem;
    }
}