.vip {
    font-family: 'Quicksand', sans-serif;
    height: 100vh;
    background: url('../images/Kroatie_Opatija.jpg') no-repeat center center/cover;
}

.second {
    background: url('../images/Kroatie_Opatija.jpg') no-repeat center center/cover;
}

.overlay-vip {
    z-index: 1;
    height: 70vh;
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    font-family: 'Quicksand', sans-serif;
}


.secondary-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 1rem;
}

.s-1 {
    font-size: 1rem;
    line-height: 1.4rem;
    width: 100%;
}

.s-1 li a {
    text-decoration: none;
    color: white;
}

.s-1 li a:hover {
    text-decoration: underline;
}

.s-1 h5 {
    font-size: 1.5rem;
    padding: 1rem 0 0 1rem;
}

.s-1 ul {
    list-style-type: none;
    padding: 1rem 0;
    font-size: 1.3rem;
}

.s-1 ul li {
    padding: 1rem;
}


@media only screen and (max-width: 600px) {
    .secondary-content {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .vip {
        height: 70vh;
    }
    .s-1-touring h5 {
        font-size: 1.5rem;
    }
    .s-1-touring ul li {
        font-size: 1rem;
    }

    .s-1 {
        width: 80%;
    }

    .s-1 ul li {
        padding: 0;
        font-size: 1rem;
    }

    .s-1-touring ul li a {
        text-decoration: none;
        color: white;
    }
    .s-1-touring ul li a:hover {
        text-decoration: underline;
    }
    .overlay-vip {
        height: 60vh;
    }
    .secondary-content {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

