.vip {
    font-family: 'Quicksand', sans-serif;
    height: 100vh;
    background: url('../images/Kroatie_Opatija.jpg') no-repeat center center/cover;
}

@media only screen and (max-width: 600px) {
    .vip {
        height: 70vh;
    }
}
