.overlay {
    z-index: 1;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    font-family: 'Quicksand', sans-serif;
}

.big-text h1 {
    font-size: 4rem;
}

.smaller-text {
    font-size: 2rem;
}

@media only screen and (max-width: 600px) {
    .overlay {
        text-align: center;
    }
    .big-text h1 {
       font-size: 2rem;
    }
    .smaller-text {
        font-size: 1rem;
    }
  }


