.nav-link {
    text-decoration: none;
    color: white;
    padding: 2rem;
    display: inline-block;
    font-family: 'Quicksand';
    text-transform: uppercase;
    transition: 0.3s;
}

.nav-link:hover {
    background-color: rgba(0,0,0,0.5);
    color: #4DDB20;
}

@media only screen and (max-width: 600px) {
    .nav-link {
        width: 100%;
        text-align: center;
        padding: 1rem;
    }
    .list-link {
        width: 100%;
        display: flex;
    }
}